body {
	background-color: #3a3a51;
}

.container {
	color: #fff;
}

.container h1 {
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
}

.container h2 {
	padding-top: 10px;
	padding-bottom: 5px;
}

.head {
	background: #3fbbfa;
}

.container p {
	font-size: 18px;
}

.container .color {
	color: #3fbbfa;
}

button {
	cursor: pointer;
}

.item {
	padding-top: 10px;
	border-top: 2px solid #fff;
}